html{

    height: 100%;
}
body{
    
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#root{

    height: 100%;
    height: 100%;
   

}
Main{

    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

    

footer{
    
    height: 25%;
    width: 100%;
    background-image: url("../../../wave.png");
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: center;
}



h1{
    font-size: 32px;
    font-family: 'Dosis', sans-serif;
    line-height: 40.45px;
    font-weight: 500;
    text-align: center;
    color: #3F3D56;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#Imagem{

    width: 350px;
    height: 238px;
    
}


.destino{

    color: #EE24FF;
}

.Destaque{

    color: #000000fb;
    font-weight: bold;

}

#Opacidade{

    color: #a1a0a0;
}

.p{

    color: #828282;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
}

#DivInterna{

    width: 626px;
    height: 486px;
    top: 64px;
    left: 199px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#Espacamento{

    max-width: 530px; 

}


ul{
    margin: 0;
    list-style: none;
    color: #3F3D56;
    font-size: 15px;
    font-weight: 700;
    line-height: 147%;
    display: flex;
    margin-right: 40px;
}

ul > li{
    margin: 21px;
    margin-top: 0;
}

